@media (max-width:1024px){
    .header_div>.hero-content>div>.line{
        padding: 7px 15px;
        font-size: 1rem;
    }
    .header_div>.hero-content>div>h2{
        font-size: 3rem ;
    }
    .article-2{
        gap: 30px;
        padding: 50px 30px;
    }
    .article-2>div{
        width: 40%;
    }
    .article-2>.images{
        width: 60%;
    }
    .article-2>.content>.title{
        font-size: 1rem;
    }
    .article-2>.content>h2{
        font-size: 3rem;
    }
}
@media (max-width:750px) {
    .my-btn{
        font-size: 0.8rem;
        padding: 12px 20px;
    }
    .header_div>header{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }
    .header_div>header>a{
        order: 0;
        text-align: center;
    }
    .header_div>header>a>img{
        width: 70%;
    }
    .header_div>header>div{
        order: 2;
        grid-column: span 2;
    }
    .header_div>.hero-content>div>h2{
        font-size: 2rem ;
    }

    .header_div>.hero-content>div>.score>div>span{
        background-color: rgba(255, 99, 71, 0.073);
        display: inline-block;
        padding: 10px;
        border-radius: 10px;
    }
    .header_div>.hero-content>div>.score>div>span>i{
        font-size: 1.3rem;
    }
    .header_div>.hero-content>div>.score>div>div{
        font-size: 0.7rem;
        color: rgba(0, 0, 0, 0.502);
    }
    .header_div>.hero-content>div>.score>div>.bold{
        font-size: 2rem;
        font-weight: 700;
        color: black;
    }
    .article-1>.text>.title{
        font-size: 1rem;
    }
    .article-1>.text>h2{
        font-size: 2rem;
    }
    .article-1>.text>p{
        font-size: 0.9rem;
    }

    .article-2{
        gap: 30px;
        padding: 50px 30px;
        flex-direction: column;
        align-items: center;
    }
    .article-2>div{
        width: 100%;
    }
    .article-2>.images{
        width: 100%;
    }
    .article-2>.images>img{
        width: 100%;
    }

    .article-3>.container{
        grid-template-columns: 1fr 1fr ;
        grid-template-rows: 1fr 1fr;
        height: 200vh;
    }
    .article-3>.container>:last-child{
        grid-column: span 2;
        width: 60%;
        margin: 0 auto;
    }

    .article-4>.container{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        height: 200%;
    }
    .article-4>.container>:last-child{
        grid-column: span 2;
        width: 60%;
        margin: 0 auto;
    }


    .article-5{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        position:relative;
        height:180vh;
    }
    .article-5>.img{
        transform: scale(0.8) !important;
        bottom: -40px;
    }
    .footer footer{
        grid-template-columns: repeat(2, 1fr);
        gap: 50px;
    }
}
@media (max-width:650px) {
    .article-5{
        overflow: hidden;
    }
    .article-5>img[alt^="flight"]{
        transform:translate(-50%,-50%) rotate(-35deg) scale(1);
    }
}
@media (max-width:600px){
    .header_div>.hero-content>div>.score{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 20px;
    }
    .article-1>.text{
        width: 50%;
    }
    .article-1>.img>img{
        border-radius: 30px;
    }
    .article-1>.img>div{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        gap: 10px;
    }
}
@media (max-width:450px) {
    .article-3>.title{
        font-size: 1rem;
    }
    .article-3>h2{
        font-size: 2rem;
        width: 100%;
    }
    .article-3>.container{
        grid-template-columns: 1fr ;
        grid-template-rows: 1fr 1fr 1fr;
        height: 300vh;
        width: 100%;
    }
    .article-3>.container>:last-child{
        grid-column: span 1;
        width: 100%;
    }
    .article-3>.container>.child-div{
        width: 100%;
    }

    .article-4>.title{
        font-size: 1rem;
    }
    .article-4>h2{
        font-size: 2rem;
    }

    .article-4>.container{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        height: 300%;
    }
    .article-4>.container>:last-child{
        grid-column: span 1;
        width: 100%;
    }


    .footer footer{
        grid-template-columns: 1fr;
        text-align: center;
    }
    .footer footer > div{
        align-items: center;
    }
}
@media (max-width:400px) {
    .header_div{
        padding-bottom: 50px;
    }
    .header_div>header{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
    }
    .header_div>header>div{
        display: none;
    }
    .header_div>header>a>img{
        width: 90%;
    }
    .header_div>header>.my-btn{
        display: none;
    }
    .header_div>header>.menu-btn{
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
    .header_div>header>.menu-btn>span{
        cursor: pointer;
        background-color: tomato;
        padding: 10px 10px;
        border-radius: 5px;
    }
    .header_div>.hero-content>div>.score{
        display: none;
    }
    .article-1>.text{
        width: 40%;
    }
    .article-1>.text>.title{
        font-size: 0.7rem;
    }
    .article-1>.text>h2{
        font-size: 1rem;
    }
    .article-1>.text>p{
        font-size: 0.5rem;
    }
}


